<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codefans.opensource.mybatis.dao.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.codefans.opensource.mybatis.domain.UserDO">
    <!--
      @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      @mbggenerated
    -->
    id, username, password, amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      @mbggenerated
    -->
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.codefans.opensource.mybatis.domain.UserDO">
    <!--
      @mbggenerated
    -->
    insert into user (id, username, password, 
      amount)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{amount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.codefans.opensource.mybatis.domain.UserDO">
    <!--
      @mbggenerated
    -->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.codefans.opensource.mybatis.domain.UserDO">
    <!--
      @mbggenerated
    -->
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.codefans.opensource.mybatis.domain.UserDO">
    <!--
      @mbggenerated
    -->
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
      SELECT
          <include refid="Base_Column_List" />
      FROM
          user
      WHERE id = #{id,jdbcType=BIGINT}
  </select>


  <update id="minusAmount" parameterType="UserDO">
      UPDATE
          user
      SET amount = amount - #{amount}
      WHERE id=#{id,jdbcType=BIGINT}
      AND amount &gt;= 0
  </update>

  <update id="addAmount" parameterType="UserDO">
      UPDATE
          user
      SET amount = amount + #{amount}
      WHERE id=#{id,jdbcType=BIGINT}
  </update>

</mapper>